<html>
<head>
<title>Matrix clock</title>
</head>
<body>
<h1>Matrix clock</h1>
<img src="{{ .ClockFace | image }}" />
<h2>Chrony</h2>
<p>Tracking</p>
<pre>
Reference ID    : {{ .Tracking.RefID | hex}} ({{.Tracking.RefID | refid}})
Stratum         : {{ .Tracking.Stratum}}
Ref time (UTC)  : {{ .Tracking.RefTime | unixtime }}
System time     : {{ .Tracking.CurrentCorrection | correction }}
Last offset     : {{ .Tracking.LastOffset | duration }}
RMS offset      : {{ .Tracking.RMSOffset | duration }}
Frequency       : {{ .Tracking.FreqPPM | freq }}
Residual freq   : {{ .Tracking.ResidFreqPPM | float3 }} ppm
Skew            : {{ .Tracking.SkewPPM | float3 }} ppm
Root delay      : {{ .Tracking.RootDelay | duration }}
Root dispersion : {{ .Tracking.RootDispersion | duration }}
Update interval : {{ .Tracking.LastUpdateInterval | duration }}
Leap status     : {{ .Tracking.LeapStatus | leap }}
</pre>
<p>Sources</p>
<pre>
MS Name/IP address         Stratum Poll      Reach        LastRx                                  Last sample
=============================================================================================================
{{ range .Sources }}{{ . | source }}{{ end }}
</pre>

<a href="/debug/events">Event logs</a>
</body>
</html>
