<html>
<head>
<title>Matrix clock</title>
</head>
<body>
<h1>Matrix clock</h1>
<img src="{{ .ClockFace | image }}" />
<br />
<a href="/debug/events">Event logs</a>
<h2>Chrony</h2>
<h3>Tracking</h3>
<pre>
Reference ID    : {{ .Tracking.RefID | hex}} ({{.Tracking.RefID | refid}})
Stratum         : {{ .Tracking.Stratum}}
Ref time (UTC)  : {{ .Tracking.RefTime | unixtime }}
System time     : {{ .Tracking.CurrentCorrection | correction }}
Last offset     : {{ .Tracking.LastOffset | duration }}
RMS offset      : {{ .Tracking.RMSOffset | duration }}
Frequency       : {{ .Tracking.FreqPPM | freq }}
Residual freq   : {{ .Tracking.ResidFreqPPM | float3 }} ppm
Skew            : {{ .Tracking.SkewPPM | float3 }} ppm
Root delay      : {{ .Tracking.RootDelay | duration }}
Root dispersion : {{ .Tracking.RootDispersion | duration }}
Update interval : {{ .Tracking.LastUpdateInterval | duration }}
Leap status     : {{ .Tracking.LeapStatus | leap }}
</pre>
<h3>Sources</h3>
<pre>
MS Name/IP address         Stratum Poll      Reach        LastRx                                      Last sample
=================================================================================================================
{{ range .Sources }}{{ . | source }}{{ end }}
</pre>

<h2>Satellites</h2>
<table>
  <thead>
    <tr>
      <td>PRN</td>
      <td>Azimuth</td>
      <td>Elevation</td>
      <td>Signal strength</td>
      <td>Used?<td>
    </tr>
  </thead>
{{ range .Satellites }}
<tr>
  <td>{{.PRN}}</td>
  <td>{{.Az}}</td>
  <td>{{.El}}</td>
  <td>{{.Ss}}</td>
  <td>{{.Used}}<td>
</tr>
{{ end }}
</table>
</body>
</html>
