<!DOCTYPE html>
<html>
<head>
<title>Matrix clock</title>
</head>
<body>
<h1>Matrix clock</h1>
<img src="{{ .ClockFace | image }}" />
<br />
<a href="/debug/events">Event logs</a>
<h2>Chrony</h2>
<h3>Tracking</h3>
<pre>
Reference ID    : {{ .Tracking.RefID | hex}} ({{.Tracking.RefID | refid}})
Stratum         : {{ .Tracking.Stratum}}
Ref time (UTC)  : {{ .Tracking.RefTime | unixtime }}
System time     : {{ .Tracking.CurrentCorrection | correction }}
Last offset     : {{ .Tracking.LastOffset | duration }}
RMS offset      : {{ .Tracking.RMSOffset | duration }}
Frequency       : {{ .Tracking.FreqPPM | freq }}
Residual freq   : {{ .Tracking.ResidFreqPPM | float3 }} ppm
Skew            : {{ .Tracking.SkewPPM | float3 }} ppm
Root delay      : {{ .Tracking.RootDelay | duration }}
Root dispersion : {{ .Tracking.RootDispersion | duration }}
Update interval : {{ .Tracking.LastUpdateInterval | duration }}
Leap status     : {{ .Tracking.LeapStatus | leap }}
</pre>
<h3>Sources</h3>
<pre>
MS Name/IP address         Stratum Poll      Reach         LastRx                                     Last sample
=================================================================================================================
{{ range .Sources }}{{ .Data | sourcedata }}{{ end }}
</pre>
<pre>
Name/IP Address              NP  NR           Span  Frequency  Freq Skew        Offset       Std Dev
====================================================================================================
{{ range .Sources }}{{ .Stats | sourcestats }}{{ end }}
</pre>

<h2>Satellites</h2>
<table>
  {{/* header -> device name */}}
  <thead>
    <tr>
      {{ range $dev, $ss := .SatsByDevice }}
      <th scope="col" width="640" colspan="5">{{ $dev }}</th>
      {{ end }}
    </tr>
  </thead>
  {{/* first table row -> sky view image */}}
  <tr>
    {{ range $dev, $ss := .SatsByDevice }}
    <td colspan="5">
      <img src="{{ $ss | skyview }}" />
    </td>
    {{ end }}
  </tr>
  {{/* second table row -> deviation chart */}}
  <tr>
    {{ range $dev, $history := .PosByDevice }}
    <td colspan="5">
      <img src="{{ $history | deviation }}" />
    </td>
    {{ end }}
  </tr>
  {{/* third table row -> satellite info table header */}}
  <tr style="text-align: left;">
    {{ range .SatsByDevice }}
    <th scope="col" style="padding-left: 100px;">PRN</th>
    <th scope="col">Azimuth</th>
    <th scope="col">Elevation</th>
    <th scope="col">Signal strength</th>
    <th scope="col" style="padding-right: 100px;">Used?</th>
    {{ end }}
  </tr>
  {{/* the rest -> satellite info */}}
  {{ range .SatellitesInConvenientForm }}
  <tr>
    {{ range . }}
    {{ if not .Time.IsZero }}
    <td style="padding-left: 100px;">{{.PRN}}</td>
    <td>{{.Az}}</td>
    <td>{{.El}}</td>
    <td>{{.Ss}}</td>
    <td style="padding-right: 100px;">{{.Used}}</td>
    {{ else }}
    <td style="padding-left: 100px;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="padding-right: 100px;"></td>
    {{ end }}
    {{ end }}
  </tr>
  {{ end }}
</table>
</body>
</html>
