ATTR{name}=="ocp:rtc_pps.-1", SUBSYSTEM=="pps", TAG+="systemd", SYMLINK+="rtc_pps"
ATTR{name}=="ocp:gps_pps.-1", SUBSYSTEM=="pps", TAG+="systemd", SYMLINK+="gps_pps"
